<h1 class="title">Weather App</h1>
<h2 class="small-title">Search Your City!</h2>
<div class="search-container">
    <form class="form-design" [formGroup]="inputData" (ngSubmit)="onSubmit()">
        <input class="input-box" type="text" formControlName="search"/>
        <button class="search-btn" type="submit">Search</button>
    </form>
    <div class="error-info" *ngIf="typo">
        <p class="user-alarm">Matched Closest Result (Check City Spelling)</p>
    </div>
    <div class="error-info" *ngIf="error">
        <p class="user-alarm">Unable to Match City</p>
    </div>
</div>
<div class="gap-box"></div>
<div class="info-box">
    <div class="country-container" *ngIf="dataAPI">
        <p class="box-title">City Information</p>
        <img class="image" src="https://flagsapi.com/{{checkAPI.country}}/flat/64.png">
        <div class="info-text">Country Initial: {{checkAPI.country}}</div>
        <div class="info-text">Capital: {{checkAPI.is_capital}}</div>
        <div class="info-text">Latitude: {{dataAPI.coord.lat}}, Longitude: {{dataAPI.coord.lon}}</div>
        <div class="info-text">Population: {{checkAPI.population}} people</div>
        <div class="info-text">Timezone: {{(dataAPI.timezone / 3600)}} UTC</div>
    </div>
    <div class="weather-container" *ngIf="dataAPI">
        <p class="box-title">City Weather</p>
        <img class="image" src="https://openweathermap.org/img/wn/{{dataAPI.weather[0].icon}}@2x.png">
        <div class="info-text">Weather: {{dataAPI.weather[0].description }}</div>
        <div class="info-text">Temperature: {{(dataAPI.main.temp - 273.15).toFixed(2)}}°C</div>
        <div class="info-text">Feels like: {{(dataAPI.main.feels_like - 273.15).toFixed(2)}}°C</div>
        <div class="info-text">Humidity: {{dataAPI.main.humidity}}%</div>
        <div class="info-text">Wind Speed: {{dataAPI.wind.speed}}, Wind Degree: {{dataAPI.wind.deg}}</div>
        <div class="info-text">Clouds: {{dataAPI.clouds.all}}%</div>
    </div>
</div>






